/* Center content both horizontally and vertically using Flexbox */
.container {
    display: flex;                 /* Use flexbox layout */
    justify-content: center;      /* Center items horizontally */
    align-items: center;          /* Center items vertically */
    height: 100vh;                /* Set container height to 100% of the viewport */
    margin: 0;                    /* Remove default margin */
}

/* Style navigation list */
nav ul {
    list-style-type: none; /* Remove bullet points from list items */
    margin: 10px;             /* Remove default margin */
    padding: 10px;     /* Remove default padding */
    display: flex;  /*Makes the stack across */
    justify-content: flex-start;    /*stop vertically*/
    gap: 30px;  /*Adds space between each link */
    place-content: center;
}


/* Change text color on hover for nav list items */
/*nav li:hover {}
    color:; /* Dark purple color on mouse hover */


/* Set the background color of the entire page */
body {
    background-color:SeaGreen ; /* Soft green background */
    border-color: GoldenRod ;
    border-width: thick;
}

/* Style for elements with class "navi" */
.navi {

    color:;
}

/* Style for the logo image */
#logo {
    height: 100px;
    clip-path: circle(50%) /* Maintain aspect ratio */
}

/* Style for the header content container */

#header{
    border-style: dotted;
    border-color: FireBrick ;
    border-width: thick;
}
/*
#footer{
    background-color:;
}


img {
    height:;

}
table, th, td {
    border:;
}

H1{
    color:;
}
p{
    color:;
}

 */